In [1]:
from google.colab import files
uploaded=files.upload()

Saving FoodBalanceSheets_E_Africa_NOFLAG.csv to FoodBalanceSheets_E_Africa_NOFLAG.csv

In [3]:
import pandas as pd
df=pd.read_csv('FoodBalanceSheets_E_Africa_NOFLAG.csv', encoding="latin-1")
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [10]:
df.shape

(60943, 12)

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [13]:
# number of unique values in each features
df.nunique()

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64

In [14]:
# inspect the countries in the 'Area' field
areas = [area for area in df['Area'].unique()]
print(areas)

['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso', 'Cabo Verde', 'Cameroon', 'Central African Republic', 'Chad', 'Comoros', 'Congo', "Côte d'Ivoire", 'Djibouti', 'Egypt', 'Eswatini', 'Ethiopia', 'Ethiopia PDR', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau', 'Kenya', 'Lesotho', 'Liberia', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius', 'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone', 'South Africa', 'Sudan', 'Sudan (former)', 'Togo', 'Tunisia', 'Uganda', 'United Republic of Tanzania', 'Zambia', 'Zimbabwe']

In [15]:
# inspect the elements in the 'Element' field
elements = [element for element in df['Element'].unique()]
print(elements)

['Total Population - Both sexes', 'Domestic supply quantity', 'Food supply (kcal/capita/day)', 'Protein supply quantity (g/capita/day)', 'Fat supply quantity (g/capita/day)', 'Production', 'Import Quantity', 'Stock Variation', 'Export Quantity', 'Feed', 'Seed', 'Losses', 'Processing', 'Other uses (non-food)', 'Residuals', 'Food', 'Food supply quantity (kg/capita/yr)', 'Tourist consumption']

In [16]:
# inspect the observations in the 'Item' field
items = [item for item in df['Item'].unique()]
print(items)

['Population', 'Grand Total', 'Vegetal Products', 'Animal Products', 'Cereals - Excluding Beer', 'Wheat and products', 'Rice and products', 'Barley and products', 'Maize and products', 'Rye and products', 'Oats', 'Millet and products', 'Sorghum and products', 'Cereals, Other', 'Starchy Roots', 'Cassava and products', 'Potatoes and products', 'Sweet potatoes', 'Yams', 'Roots, Other', 'Sugar Crops', 'Sugar cane', 'Sugar beet', 'Sugar & Sweeteners', 'Sugar (Raw Equivalent)', 'Sweeteners, Other', 'Honey', 'Pulses', 'Beans', 'Peas', 'Pulses, Other and products', 'Treenuts', 'Nuts and products', 'Oilcrops', 'Soyabeans', 'Groundnuts (Shelled Eq)', 'Sunflower seed', 'Rape and Mustardseed', 'Cottonseed', 'Coconuts - Incl Copra', 'Sesame seed', 'Olives (including preserved)', 'Oilcrops, Other', 'Vegetable Oils', 'Soyabean Oil', 'Groundnut Oil', 'Sunflowerseed Oil', 'Rape and Mustard Oil', 'Cottonseed Oil', 'Palmkernel Oil', 'Palm Oil', 'Coconut Oil', 'Sesameseed Oil', 'Olive Oil', 'Maize Germ Oil', 'Oilcrops Oil, Other', 'Vegetables', 'Tomatoes and products', 'Onions', 'Vegetables, Other', 'Fruits - Excluding Wine', 'Oranges, Mandarines', 'Lemons, Limes and products', 'Grapefruit and products', 'Citrus, Other', 'Bananas', 'Plantains', 'Apples and products', 'Pineapples and products', 'Dates', 'Grapes and products (excl wine)', 'Fruits, Other', 'Stimulants', 'Coffee and products', 'Cocoa Beans and products', 'Tea (including mate)', 'Spices', 'Pepper', 'Pimento', 'Cloves', 'Spices, Other', 'Alcoholic Beverages', 'Wine', 'Beer', 'Beverages, Fermented', 'Beverages, Alcoholic', 'Alcohol, Non-Food', 'Meat', 'Bovine Meat', 'Mutton & Goat Meat', 'Pigmeat', 'Poultry Meat', 'Meat, Other', 'Offals', 'Offals, Edible', 'Animal fats', 'Butter, Ghee', 'Cream', 'Fats, Animals, Raw', 'Fish, Body Oil', 'Fish, Liver Oil', 'Eggs', 'Milk - Excluding Butter', 'Fish, Seafood', 'Freshwater Fish', 'Demersal Fish', 'Pelagic Fish', 'Marine Fish, Other', 'Crustaceans', 'Cephalopods', 'Molluscs, Other', 'Aquatic Products, Other', 'Aquatic Animals, Others', 'Aquatic Plants', 'Miscellaneous', 'Infant food', 'Sugar non-centrifugal', 'Palm kernels', 'Ricebran Oil']

In [17]:
#  check for the percentage of missingness
df.isnull().sum()/ len(df) *100

Area Code       0.000000
Area            0.000000
Item Code       0.000000
Item            0.000000
Element Code    0.000000
Element         0.000000
Unit            0.000000
Y2014           2.607354
Y2015           2.540078
Y2016           2.518747
Y2017           2.471162
Y2018           2.356300
dtype: float64

In [18]:
# descriptive statistics of the dataset
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [19]:
my_tuppy = (1,2,5,8)
my_tuppy[2] = 6

TypeError: ignored

In [20]:
# the total number and percentage of missing data in 2014 to 3 decimal places

print(df['Y2014'].isnull().sum())
print(df['Y2014'].isnull().sum()/len(df)*100)

1589
2.6073544131401474

In [21]:
# total number of unique countries in the dataset
df['Area'].nunique()

49

In [22]:
S = [['him', 'sell'], [90, 28, 43]]

# the output of the code below
S[0][1][1]

'e'

In [23]:
# year with least correlation with ‘Element Code’

df.drop(columns=['Item Code', 'Area Code']).corr()['Element Code'].sort_values()

Y2016           0.023444
Y2015           0.023889
Y2017           0.024254
Y2018           0.024279
Y2014           0.024457
Element Code    1.000000
Name: Element Code, dtype: float64

In [24]:
# total Protein supply quantity in Madagascar in 2015

mapped_data = df.loc[(df['Area'] == 'Madagascar') & 
                     (df['Element'] == 'Protein supply quantity (g/capita/day)')]
mapped_data['Y2015'].sum().round(2)

173.05

In [25]:
# year with the highest sum of Stock Variation
df[['Element', 'Item', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']].groupby('Element').sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [26]:
# Area which had the highest sum in 2017
df[['Y2017', 'Area']].groupby('Area').sum().sort_values('Y2017', ascending=False).head(5)

                   Y2017
Area
Nigeria       1483268.23
Egypt          866379.92
South Africa   517590.54
Ethiopia       448683.76
Morocco        388495.36

In [27]:
# check for the number of rows and columns in a pandas DataFrame named df
df.shape

(60943, 12)

In [28]:
# Area which had the lowest sum in 2017
df[['Y2017', 'Area']].groupby('Area').sum().sort_values('Y2017', ascending=True).head(7)

                          Y2017
Area
Sudan (former)             0.00
Ethiopia PDR               0.00
Comoros                   59.84
Seychelles               442.34
Sao Tome and Principe  12662.63
Cabo Verde             14650.74
Guinea-Bissau          19102.77

In [29]:
# check for the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places
df['Y2017'].describe().round(2)

count     59437.00
mean        140.92
std        1671.86
min       -1582.00
25%           0.00
50%           0.10
75%           9.00
max      190873.00
Name: Y2017, dtype: float64

In [30]:
# assign element 8 from the list to a variable x?

y = [(2, 4), (7, 8), (1, 5, 9)]

x= y[1][1]
x

8

In [31]:
# total sum of Wine produced in 2015 and 2018 respectively
df[['Element', 'Item', 'Y2015', 'Y2018']].groupby('Item').sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [32]:
# total number of the sum of Element in 2017
df[['Element', 'Y2017']].groupby('Element').sum()

                                             Y2017
Element
Domestic supply quantity                2088198.10
Export Quantity                          182338.80
Fat supply quantity (g/capita/day)        10253.84
Feed                                     223705.68
Food                                    1258888.28
Food supply (kcal/capita/day)            454681.00
Food supply quantity (kg/capita/yr)       48690.04
Import Quantity                          294559.09
Losses                                   160614.00
Other uses (non-food)                     91645.97
Processing                               292836.00
Production                              2030056.89
Protein supply quantity (g/capita/day)    11842.45
Residuals                                 35500.00
Seed                                      24870.14
Stock Variation                           54316.91
Total Population - Both sexes           1112641.00
Tourist consumption                          91.00

In [33]:
# create a pandas DataFrame using these list

lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]
col = ['Age','Nationality','Overall']

# Method 1
a = pd.DataFrame(lst, columns=col, index=[i for i in range(1,4)])
a

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [37]:
array  = ([[94, 89, 63],
             [93, 92, 48],
             [92, 94, 56]])
array[:2,0:]

TypeError: ignored